<div class="login-container">
    <div class="logo">
        <img src="./assets/img/user-login.png" />
    </div>
    <div class="form">
        <form #loginform="ngForm" no-validate (submit)="loginUser()">
            <div class="form-group">
                <label for="email">
                    Email:
                </label>
                <input class="form-control" [class.is-invalid]="email.invalid && email.touched" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userModel.email" name="email" type="email" autocomplete="none" required />
                <div *ngIf="email.errors && email.invalid && email.touched">
                    <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                    <small class="text-danger" *ngIf="email.errors.pattern">Please provide a valid email address</small>
                </div>
            </div>            
            <div class="form-group">
                <label for="password">
                    Password:
                </label>
                <input class="form-control" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" [(ngModel)]="userModel.password" name="password" type="password" required />
                <div *ngIf="password.errors">
                    <small class="text-danger" *ngIf="password.touched && password.invalid">Password is required</small>
                </div>
            </div>
            <div class="text-success" *ngIf="loginMsg">
                {{loginMsg}}
            </div>
            <div class="text-danger" *ngIf="errorMsg">
                {{errorMsg}}
            </div>
            <button type="button" class="btn btn-link">Forgot Password</button>
            <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-success">Login</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>