*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, yellow, wheat);
}
div.header {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet
}

div.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}